{% extends 'base.html' %}
{% load static %}

{% block title %}ACM - Análisis Comparativo de Mercado{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'acm/css/acm.css' %}?v=11">
{% endblock %}

{% block content %}
<div class="acm-container">
    {% block acm_content %}
    {% endblock %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'acm/js/acm.js' %}?v=8"></script>
{% if google_maps_api_key %}
<!-- Google Maps API - Se carga con callback después de acm.js -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places,geometry&callback=initACMMap" defer></script>
{% endif %}
{% endblock %}